<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link asp-href-include="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/twitter-bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/twitter-bootstrap/css/bootstrap-reboot.css" rel="stylesheet"/>
    <title>SportStoreCore1</title>
</head>
<body>
        <div class="navbar navbar-i bg-inverse" role="navigation">
            <a class="navbar-brand" href="#">SPORTS STORE</a>
        </div>    
        <div class="row m-1 p-1">
            <div id="categories" class="col-3">            
                @await Component.InvokeAsync("NavigationMenu")      
            </div>        
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
</body>
</html>
